<div class="background">
  <div class="wrapper">
    <button
      mat-raised-button
      color="primary"
      style="margin-bottom: 20px; height: 60px; width: 260px"
      (click)="goToCreateRoom()"
    >
      Create room
    </button>
    <button
      mat-raised-button
      color="primary"
      style="height: 60px; width: 260px; margin-bottom: 20px"
      (click)="showJoinRoomInput()"
    >
      Join room
    </button>
    <mat-form-field *ngIf="joinRoomVisible" appearance="fill">
      <mat-label>Room code</mat-label>
      <input [(ngModel)]="roomCode" type="password" matInput />
    </mat-form-field>
    <button
      *ngIf="joinRoomVisible"
      mat-raised-button
      color="primary"
      style="height: 60px; width: 260px"
      (click)="joinRoom()"
    >
      Join
    </button>
  </div>
</div>
